.imageZone {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    font-size: 0;
    height: 100%;

    img {
        user-select: none;
        width: 100%;
        cursor: pointer;
    }
}