:root {
  --primary-brand: #ec7986;
  --second-brand: #f3e9e8;
  --black: rgb(66, 66, 66);
  --grey: #eee;
  --light-grey: rgba(245, 245, 245, 0.541);
  --dark-grey: rgb(214, 214, 214);;
}

body {
  margin: 0;
  font-family: 'Concert One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--second-brand);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}