@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
  --primary-brand: #ec7986;
  --second-brand: #f3e9e8;
}

body {
  margin: 0;
  font-family: 'Concert One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--second-brand);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
